.imagen-aboutUs img{
  border-radius: 22px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  height: 400px;
  width: 600px;

}

.aboutUs .imagen-aboutUs{
  display: flex;
  padding: 5% 5% 5% 2%;
  transition: transform 0.3s ease-in-out; 
}

.aboutUs .imagen-aboutUs:hover {
  transform: scale(1.05); 
}

.aboutUs {
  display: flex;
  padding: 5% 1% 5% 5%;
  margin: none;
}

.first_h1{
  margin-left: 17%;
  margin-top: 20px;
  font-size: xx-large;
}

.first_h3{
  margin-left: 17%;
  width: 80%;

}

.paragraph-about{
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.diseño{
  border-radius: 10px;
  height: 80px;
  width: 75%;
  background-color: #1F2544;
  margin-left: 20%;
  font-size: x-small;
  text-align:justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out; 
}

.diseño img{
  margin: 10px 10px 10px 20px;
}


.aboutUs .diseño:hover {
  transform: scale(1.05); 
}

/* Footer style*/

footer {
  color: #000000;
  padding: 180px 60px 10px 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow:  13px 13px 35px #6fbee9,-13px -13px 35px #1F2544;
}

.hover_2:hover {
  text-decoration: underline;
  color: #f0f0f0;
}

footer a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}

.footer a img {
  width: 30px;
  height: 30px; 
}

.footer a img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}


.footer::after {
  content: "";
  position: absolute;
  bottom: 80px;
  left: 60px; 
  right: 60px; 
  height: 2px;
  background-color: #000000;
  
}


